# Local example
MONGODB_URI=mongodb://127.0.0.1:27017/pantrypal
PORT=3000

# Render / MongoDB Atlas example
# MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER_URL/pantrypal?retryWrites=true&w=majority&appName=PantryPal
